.table-big-container {
  background-color: white;
  border-radius: 2px;
  padding: 30px 20px;
  max-height: 68vh;
  overflow: auto;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  

  th {
    font-size: 18px !important;
  }
}
.button-dash{
  text-decoration: underline;
  color: #3471CC;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
}
.button-dash > img{
  margin-right: 10px;
}
.shadow-popup{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 10px;
  left: 0px;
  bottom: 0;
  right: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000a3;
  backdrop-filter: blur(8px);
  border-radius: 10px;
}
.shadow-popup-modify{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -20px;
  left: 0px;
  bottom: 0;
  right: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  border-radius: 0px;
}
.popup-open-shadows{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: #00000071;
}
.table-big-container::-webkit-scrollbar {
  width: 12px;
}

.table-big-container::-webkit-scrollbar-track {
  background: rgba(52, 113, 204, 0.1);
  border-radius: 70px;
  padding: 4px 8px;
  width: 20px;
}

.table-big-container::-webkit-scrollbar-thumb {
  background: #4ED35D;
  border-radius: 56px;
  width: 12px;
}
.filter-etichette{
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.filter-etichette > p {
  margin-top: 0px;
}
.linea-filtri{
  margin-bottom: 20px;
  margin-top: 0;
}
.filter-etichette > select{
  margin-top: 0px;
  background-color: transparent;
  border: none;
  color: #3471CC;
  text-decoration: underline;
  text-align: left;
  padding: 0;
}
.selectMotivo{
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.table-filters {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: space-between;
  position: sticky;
  top: -2rem;
  width: 100%;
  background-color: white;
  z-index: 100;
  padding-bottom: 30px;
}
.tag-etichetta-table{
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  color: gray;
}
.etichetta-table {
  font-size: 11.4px;
  font-weight: 400;
  color: gray;
  border-radius: 10px;
  padding: 3px 7px;
  width: 110px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.etichetta-table > svg{
  cursor: pointer;
  fill: #ffffff;
  width: 15px;
  height: 15px;
  display: none;
  transition: 0.2s;
}
.etichetta-table:hover > svg {
  display: block;
  transition: 0.2s all;
}
.etichetta-table:hover{
  width: 130px;
}
.etichetta-whats-table{
  background-color: rgb(0, 98, 0);
  color: white;
  width: 130px;
  margin: 5px 0;
}
.etichetta-whats-table:hover{
  width: 150px;
}
.etichetta-chiude-table{
  background-color: rgb(151, 0, 0);
  color: white;
  width: 130px;
  margin: 5px 0;
}
.etichetta-chiude-table:hover{
  background-color: rgb(151, 0, 0);
  color: white;
  width: 150px;
}
.etichetta-rich-table{
  background-color: rgb(203, 0, 176);
  color: white;
  margin: 5px 0;
}
.etichetta-creata-visual{
  background-color:#3471CC;
  color: white;
  margin: 5px 0;
  width: fit-content;
  padding: 4px 9px;
}
.etichetta-creata-visual:hover{
  width: fit-content;
  padding: 4px 9px;
}
.etichetta-whats{
  background-color: rgb(0, 98, 0);
  color: white;
}
.etichetta-chiude{
  background-color: rgb(151, 0, 0);
  color: white;
}
.etichetta-rich{
  background-color: rgb(203, 0, 176);
  color: white;
}
.scegli-etichetta-table{
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: 2;
  background-color: rgb(51, 51, 51);
  padding: 15px 10px 0px 10px;
  border-radius: 10px;
  color: white;
  width: 250px;
  height: auto;
}
.scegli-etichetta-table > div{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 5px;
}
.scegli-etichetta-table > div > input {
  border: none;
}
.scegli-etichetta-table > div > button {
  background-color: #3471CC;
  color: white;
  border: none;
  padding: 0 10px;
}
.scegli-etichetta-table > p {
  font-size: 14px;
  padding: 4px 2px 4px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.etichetta-creata{
  background-color:#3471CC;
  color: white;
  position: relative;
}
.etichetta-creata > span:last-of-type {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 13px;
  z-index: 10;
}
.table-filters #activenow {
  color: #30978B;
  font-size: 20px;
  position: relative;
  margin-left: 30px;
}

.table-filters #activenow::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 20%;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background-color: #30978B;

}

.table-filters>div:first-of-type {
  margin-top: 20px;
}
.iniziali{
  background-color: #3471CC;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  width: 33px;
  min-width: 33px;
  min-height: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redIniz{
  background-color: #973031;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
thead {
  position: sticky;
  top: 2rem;
  background-color: white;
  width: 100%;
}
.btn-orie {
  background-color: #4ED35D;
  margin: 0 auto;
  padding: 8px 16px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  margin-top: 15px;
  /* width: 30%; */
}
.table-filters>*:not(:last-child) {
  margin-right: 20px;
}

.table-container {
  width: 100%;
  margin-top: 0px;
  padding: 0px 20px;
  font-size: 14px;
  margin: 0 auto;
}

.whats{
  position: absolute;
  top: 15px;
  left: -20px;
}

.whats-griglia{
  position: absolute;
  right: 15px;
  top: 4px;
}

.table-container th {
  text-align: left;
  padding: 8px;
  color: rgb(0, 0, 0) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.table-container td {
  padding: 18px 10px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: black;
  font-size: 15px !important;
}
.row-name{
  text-decoration: underline;
  font-weight: 500 !important;
  cursor: pointer;
}
.table-big-container td img {
  width: 24px;
  cursor: pointer;
}
.table-container tr:hover {
  background-color: #ddd;
}
.table-big-container td span {
  color: #4ED35D;
  font-size: 12px !important;
  cursor: pointer;
  margin-left: 10px;
}
.table-body-container>td {
  width: 20%;
}
.table-container tr {
  padding: 0px 20px !important;
}
.table-body-container{
  width: 95%;
  padding: 0 20px;
}
.table-body-container td {
  font-weight: 400;
}

.modify-table {
  cursor: pointer;
  text-decoration: underline;
}
.recall-option {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #00000066;
}
.recall-option > label {
  margin: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  flex-direction: row;
  text-decoration: none;
  color: #00000066;
}
.recall-option > label > input{
  margin: 0 5px;
  color: #00000066;
}
.button-filter {
  border: none;
  cursor: pointer;
  padding: 4px 18px;
  border-radius: 5px;
  border: 1px solid #3471CC;
  color: #3471CC;
  margin: 0 10px;
  font-weight: 500;
}
.rimuovi-button{
  margin-top: 20px;
}

.table-body-container .status {
  position: relative;
}

.table-body-container .status svg {
  margin-right: 25px;
}
#selectesiti {
  background-color: white;
  border: none;
  outline: none;
  width: 30vw;
  padding: 0 20px;
}

#selectesiti option {
  font-size: 25px;
  border-bottom: 1px solid grey;
  padding: 20px;
  padding-left: 30px;
  position: relative;


  &:checked,
  &:active,
  &:focus {
    background-color: #3471CC;
    color: white;
  }

  &::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: grey;
    left: 0;
    top: 27px;
  }

  &:nth-of-type(1)::before {
    background: #94B7D3;
  }

  &:nth-of-type(2)::before {
    background: #426487;
  }

  &:nth-of-type(3)::before {
    background: #F88600;
  }

  &:nth-of-type(4)::before {
    background: #C41247;
  }

  &:nth-of-type(5)::before {
    background: #263F45;
  }

  &:nth-of-type(6)::before {
    background: #852F1F;
  }

  &:nth-of-type(7)::before {
    background: #FBBC05;
  }

  &:nth-of-type(8)::before {
    background: #3471CC;
  }
  
  &:nth-of-type(9)::before {
    background: #30978B;
  }

  &:nth-of-type(10)::before {
    background: #00F0B6; 
  }

}


/*POPUP*/
.popup-container {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #00000096;
}
.popup-top {
  background-color: white;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  padding: 25px 40px;
  z-index: 10;
}

.popup-top h4 {
  margin: 0px 30px 0 20px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 0px;
  color: #000000f6;
  font-weight: 500;
}
.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
}

#filterbyesito,
#filterbydate {
  text-align: center;
  border-radius: 2px;
  padding: 0 0 20px 0;
  position: relative;
  width: 600px;
  min-height: 30vh;
  transform: translate(-1%, 10%);

}

#modalclosingicon {
  position: absolute;
  left: 15px;
  top: 13px;
  height: 30px;
  fill: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 99;
}
#modalclosingicon-mancanti {
  height: 30px;
  fill: white;
  cursor: pointer;
  z-index: 99;
  position: absolute;
  left: 20px;
  top: 26%;
  transition: 0.3s all;
}
.leadMancantiContainer{
  border-radius: 0px;
  width: 50%;
  background-color: #3471CC;
  color: white;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  position: relative;
  margin-top: 20px;
}
.leadMancanti{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: space-around;
}
.leadMancantiContainer-closed > .leadMancanti > .comparsa{
  display: none;
  font-size: 1px;
  transition: 0.5s all;
}
.leadMancantiContainer > .leadMancanti > .comparsa{
  display: block;
  transition: 0.5s all;
}
.leadMancantiContainer-closed > .leadMancanti > .scomparsa{
  display: block;
  transition: 0.3s all;
}
.leadMancantiContainer > .leadMancanti > .scomparsa{
  display: none;
  transition: 0.3s all;
}
.leadMancantiContainer-closed{
  border-radius: 0px;
  width: 10% !important;
  background-color: #3471CC;
  color: white;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  cursor: pointer;
  margin-top: 20px;
}
.leadMancantiContainer-closed > svg {
  display: none;
  transition: 0.3s all;
}
.leadMancantiContainer-closed > h5 {
  transition: 0.3s all;
}
.leadMancanti > h5 {
  font-weight: 300 !important;
  transition: 0.9s all;
}
.leadMancanti > h5 > span {
  font-weight: 600 !important;
  transition: 0.9s all;
}
.leadMancanti > h5 > a {
  font-weight: 600 !important;
  text-decoration: underline;
  color: white;
  transition: 0.9s all;
}
.labelwrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.labelwrapper label {
  display: flex;
  align-items: baseline;
  gap: 3rem;
  border-bottom: 1px solid gray;
  padding-top: 30px;
}


.labelwrapper label input {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;

  /* Create a round shape */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0 2px #ccc;
  /* Add a border effect */
}

.labelwrapper label input:checked {
  background-color: #3471CC;
}

.labelwrapper label input:checked::before {
  content: '\2713';
  /* Unicode checkmark character */
  display: block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.labelwrapper label h3 {
  text-align: start;
  font-weight: 600;
  font-size: 25px;
}

.labelwrapper label h4 {
  font-weight: 300;
  color: grey;
  font-size: 18px;
}


#leadscerca svg {
  height: 40px;
}

#leadscerca input {
  border: none;
  outline: none;
  padding: 8px;
  border-bottom: 1px solid gray;
}


#leadsfiltra {
  display: flex;
  align-items: stretch;
}

#leadsfiltra span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

#leadsfiltra select {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: unset;
}

.table-body-container td {
  width: 14%;
}
#wrapperleadsright {
  display: flex;
  align-items: center;
  gap: 5rem;
}

/* @media screen and (max-width:500px) {
  .table-admin {
    min-width: 80% !important;
    width: 90% !important;
    overflow-y: scroll;
  }

  .table-big-container {
    width: 100% !important;
    box-shadow: 0px 0px 20px 2px #80808029;
    border-radius: 20px;
    padding: 30px 20px;
    max-height: 58vh;
    overflow: auto;
  }

  .table-filters {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    justify-content: space-between;
    position: sticky;
    top: -2rem;
    width: 100%;
    background-color: white;
  }

  .button-filter {
    padding: 3px 10px;
    font-size: 0.8rem;
  }

  .table-filters {
    font-size: 0.8rem;
  }
} */

.Table-admin {
  padding-bottom: 40px;

  .btnsubmitwrapper {
    text-align: center;
  }

  #popupmodifesito {
    top: 10vh;
    left: 21%;

    #prezzovenditaesito {
      padding: 0 20px;

      input {
        margin-left: 20px;
      }
    }

  }

}
.filtra-recall{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.switch-label {
  margin-left: 10px;
}
.custom-switch .ant-switch-checked,
.custom-switch:hover .ant-switch {
  background-color: #4ED35D !important;
}
.filtralead{
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
}
.wrapperwrapper {
  position: relative;
}
.filter-item{
  min-width: 240px;
  width: auto;
}
.data-selezionata > div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.filter-item img {
  width: 10px;
  z-index: 1000;
}
@media screen and (width <= 2000px){
  .wrapperwrapper {
    div p{
      font-size: 14px !important;
    }
    div label{
      font-size: 14px !important;
    }
    div input, div select{
      font-size: 14px !important;
    }
    div select option{
      font-size: 14px !important;
    }
  }
}
@media screen and (width >= 2001px){
  .wrapperwrapper {
    div p{
      font-size: 16px !important;
    }
    div label{
      font-size: 16px !important;
    }
    div input, div select{
      font-size: 16px !important;
    }
    div select option{
      font-size: 16px !important;
    }
  }
}

@media screen and (width <=1600px) {
  .Table-admin {
    .filtralead {
      .wrapperwrapper {
        div p{
          font-size: 12px !important;
        }
        div label{
          font-size: 12px !important;
        }
        div input, div select{
          font-size: 12px !important;
        }
        div select option{
          font-size: 12px !important;
        }
        .leadslinks {
          * {
            font-size: 14px !important;
          }

          a,
          button {
            padding: 4px 10px !important;
          }
        }
      }
    }


    #filterbyesito {
      transform: translate(-1%, 10%) !important;
    }

    .table-filters {
      flex-wrap: wrap;
      margin-bottom: 30px;

      * {
        font-size: 16px !important;
      }
    }

    #wrapperleadsright {
      gap: 1rem;

      * {
        font-size: 12px !important;
      }

      #leadscerca {
        svg {
          display: none;
        }
      }
    }


  }

  .table-container {
    th {
      font-size: 20px !important;
    }
  }
}

@media screen and (width <=1400px) {
  .Table-admin {
    .table-filters {

      #wrapperleadsright {
        // flex-direction: column;
        align-items: flex-end;
      }
    }

    .table-big-container {
      padding-top: 10px !important;
    }

    #popupmodifesito {
      top: 5vh;
    }

    #leadscerca {
      display: none;
    }
  }
}

@media screen and (width <=1200px) {
  .Table-admin {
    #wrapperleadsright {
      width: 100%;
    }


    .table-container {
      overflow-x: auto;

      * {
        font-size: 12px !important;
        white-space: nowrap;
      }
    }

    #aggiungileadpop {
      width: 85vw;
      top: 0;
      left: -14%;

      form {
        row-gap: 2rem !important;

        label {
          width: unset !important;
        }
      }
    }

    #popupmodifesito {
      top: 3vh !important;
      width: 60vw !important;
      left: 7% !important;

      select {
        // width: fit-content !important;
        width: 100% !important;
      }
    }


    #popupdeletelead {
      top: 30vh !important;
      left: 19% !important;
    }

    .table-body-container .status:after {
      top: 1px !important;
    }
  }
}

@media screen and (width <=1000px) {
  .Table-admin {
    #aggiungileadpop {
      width: 95vw !important;
      top: 0;
      left: -14%;
    }

    #popupmodifesito {
      top: 9vh !important;
      width: 60vw !important;
      left: 12% !important;

      select {
        width: 95% !important;
      }
    }

    #popupmodifesito {
      * {
        font-size: 20px !important;
      }

      .btn-orie {
        font-size: 15px !important;
      }

      u {
        font-size: 15px !important;
      }

    }
  }
}


@media screen and (width <=600px) {
  .table-big-container{
    width: 65% !important;
    margin-left: 10px;
  }
  .Table-admin {
    .filtralead {
      padding: 0 6px !important;

      * {
        font-size: 15px !important;
      }
    }

    .table-filters {
      * {
        font-size: 15px !important;
      }

      #wrapperleadsright {
        flex-direction: column !important;
      }
    }

    #aggiungileadpop {
      width: 95vw !important;
      top: -10px !important;
      left: 0 !important;
    }

    #popupmodifesito {
      top: 9vh !important;
      width: 75vw !important;
      left: 3% !important;

      select {
        width: fit-content !important;
      }
    }

    #popupdeletelead {
      top: 30vh !important;
      left: 0 !important;
    }


    #wrapperleadsright {
      #leadscerca {
        display: unset !important;
      }

      #leadsfiltra {
        width: 100% !important;
        select{
          width: 100% !important;
        }
      }
    }

  }
}

@media screen and (width <=450px) {
  .Table-admin {
    #wrapperleadsright {
      #leadsfiltra {
        flex-direction: column !important;
        gap: 1rem !important;
      }
    }

    #oftable {
      overflow-x: auto;

      thead {
        top: unset !important;
      }
    }

    .table-big-container {
      max-height: unset !important;
    }
  }
}