.popup-motivo{
    border-radius: 20px;
    width: 40%;
    padding: 30px 0;
    background-color: white;
    z-index: 100002;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.39);
}
.motivo-venduto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.3rem;
    width: 80%;
}
.motivo-venduto > div > select {
    outline: none;
    border: 1.3px solid #3471CC;
    border-radius: 5px;
    font-size: 14px;
    padding: 4px 10px;
}
.venduto-motivo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.popup-motivo > img:first-of-type{
    position: absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
}
.popup-motivo-top {
    width: 80%;
}
.popup-motivo-top > div > p {
    color: #00000066;
    font-size: 14px;
}
.popup-motivo-top > div > h4 {
    margin: 10px 0;
}
.choose-motivo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}
.radio-label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    border-bottom: 1px solid #18181833;
    padding: 8px 0;
    color: #00000066;
    font-size: 14px;
    text-align: left;
}
.fatturato{
    margin: 40px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fatturato > p {
    font-size: 14px;
}
.fatturato > div {
    background-color: #D9D9D94D;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px;
    width: 80%;
}
.fatturato > div > input {
    border: none;
    background-color: transparent;
}
.salva-motivo{
    margin-top: 20px;
}
.salva-motivo > button {
    background-color: #3471CC;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}